#app-body {
    background-color: #252e3b;
    display: block;
    text-align: center;
    cursor: default;
}

#settings {
    background-color: #252e3b;
    margin: 5px 10px;
    padding: 0px;
    display: block;
    text-align: center;
    cursor: default;
}

#settings-header {
    background-color: #252e3b;
}

#settings-body {
    background-color: #344966;
    padding: 10px 0px;
    border-radius: 15px;
}

.title {
    font-family: Arial, Helvetica, sans-serif;
    margin: 20px auto auto auto;
    text-align: left;
    color: #EDF2F4;
}

.settings-title {
    font-family: Arial, Helvetica, sans-serif;
    margin: 10px auto auto auto;
    width: 50%;
    text-align: center;
    color: #EDF2F4;
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 1px;
}

.label {
    font-family: Arial, Helvetica, sans-serif;
    color: #EDF2F4;
    font-size: 20px;
    display: inline;
    letter-spacing: normal;
}

.settings-row {
    display: block;
    padding: 3px 0px;
    margin: 2px 0px
}

.settings-container {
    display: inline-block;
    margin: auto 20px
}

select {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #344966;
    color: #EDF2F4;
    vertical-align: middle;
    font-weight: bold;
    border: #EDF2F4;
    border-style: solid;
    border-width: 2px;
    border-radius: 3px;
    padding: 2px;
}

.text-area {
    margin-right: auto;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    resize: none;
    background-color: slategray;
    color: #EDF2F4;
    width: 110px;
    vertical-align: text-bottom;
}

.settings-button {
    font-family: Arial, Helvetica, sans-serif;
    color: #EDF2F4;
    font-size: 24px;
    background-color: rgb(96, 121, 167);
    border: 0px solid #EDF2F4;
    border-radius: 15px;
    padding: 10px 20px;
    margin: 5px 10px 5px 20px;
    display: inline-block;
}
.settings-button:hover {
    background-color: rgb(75, 98, 136);
}

#status-label {
    font-family: Arial, Helvetica, sans-serif;
    color: #EDF2F4;
    font-size: 24px;
}
#status {
    font-family: Arial, Helvetica, sans-serif;
    color: #EDF2F4;
    font-size: 24px;
}

#log-box {
    margin: 10pt;
    border: 2pt, solid, #EDF2F4;
    border-radius: 5px;
    font-family: monospace;
    background-color: slategray;
    color: #EDF2F4;
    resize: none;
}

#betterttv-label {
    display: inline-block;
}

#betterttv-checkbox {
    transform: scale(1.25);
    vertical-align: middle;
}

#cancel-button {
    float: left;
}

#update-button {
    float: left;
}

#disconnect-button {
    position: relative;
    left: 75px
}

.button-container {
    display: inline;
    margin: auto 10px;
}

p.button {
    font-family: Arial, Helvetica, sans-serif;
    color: #EDF2F4;
    font-size: 28px;
    background-color: rgb(82, 72, 168);
    border: 0px solid #EDF2F4;
    border-radius: 15px;
    padding: 10px 20px;
    margin: 5px 10px;
    display: inline-block;
}

p.button:hover {
    background-color:rgb(71, 63, 146)!important;
}
